table.fixed { table-layout:fixed; float: left;}
table, th, td {
  //border: 1px solid black;
}
/*table.fixed td { overflow: hidden; }*/

.player {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    list-style-type: none;
}

.yourturn{
    animation:blinkingText 1.2s infinite;
}

.playingCards ul.desk li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}


.playingCards ul.hand li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

.playingCards .card {
    position: relative;
}

.playingCards a.card {
    text-decoration: none;
}

/* selected and hover state */
.playingCards a.card:hover, .playingCards a.card:active, .playingCards a.card:focus,
.playingCards label.card:hover,
.playingCards strong .card {
    bottom: 3em;
    cursor: pointer;
}
